@model Department
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

@* <html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body> *@
    <h1> Departmetnt id: @Model.DeptId</h1>
    <h1> Departmetnt name: @Model.DeptName</h1>

@* </body>
</html>
 *@